/**
 * Your CSS goes here.
 */

 body  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
 }

 body > div {
    background-color: rgb(211, 130, 23);
    width: 80%;
    padding: 1rem;
    border: 2px solid rgb(95, 66, 34);
 }

 .madLibsEdit {
    font-size: large;
 }

 .madLibsEdit > * {
   margin: 4px 0px;
 }

 .madLibsEdit input {
    border-radius: 2rem;
    border-style: solid;
    padding: 0.3rem;
    margin-right: 2px;
 }

 .madLibsPreview {
   font-family:'fantasy';
   font-style:italic;
font-size: large;
font-weight:bold;
width: 600px;
padding: 20px;
 }

 .madLibsPreview > * {
   display: inline-block;
   padding: 10px 0px ;
   padding-right:7px ;
   
 }

 .glow {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 3px rgb(0, 0, 0) ;
 }